/*front_page.html, createApp.html*/
body {
    font-family: 'FiraSans', sans-serif;
	width: 350px;
}

header, footer{
	font-family: 'FiraSans', sans-serif;
	border: 2px solid black;
	height: 35px;
}

footer{
	text-align: center;
	padding: 0px 0px 5px 0px;
}

header button {
	float: right;
}

header img {
	float: left;
	
}

.container {
	height: 400px;
	padding-top: 10px;
	border: 2px solid black;
}


li.menu{
    width: 250px;
	height: 35px;
	border: 2px solid black;
	margin: 0 0 15px 0;
	list-style-type: none;
	font-size: 1.6em;
	display: inline-block;
}

li a.button{
	float: right;
	height: 35px;
}

li button{
	float: right;
	height: 35px;
}

li button.btn_withJs{
	float: right;
	height: 35px;
}

#welcome{
	text-align: center;
	font-size: 1.8em;
	margin: 50px 0px 50px 0px;
}

/*changeAppName.html*/

.main-button {
	text-align: center;
	margin: 20px 0;
}

.main-button input{
	width: 75px;
	height: 35px;
	background : no-repeat;
    padding : 10px;
	text-align: right;
}

/*.main-button:after{
	content: "Start";
	position: relative;
	bottom: 10px;
	left: 5px;
}*/

.main-section {
	margin: 40px 0;
	padding: 10px;
	border: 2px solid black;
	overflow: hidden;
}
.main-section img {
	position: relative;
	top: 10px;	
	padding-right: 10px;
}

.main-section h1,.main-section p{
	text-align: center;
}

nav {
	overflow: hidden;
	text-align: center;
	border: 2px solid black;
}

nav a {
	float: left;
}

nav span {
	position: relative;
	top: 10px;
}

nav button {
	float: right;
}

button.edit_btn{
	float: right;
	height: 35px;
}

.main-section button{
	float: right;
	margin : 0 5px 10px 5px;
}

span.app_name{ 
    display: inline-block;
	font-size: 1.6em;
}

ul{
	list-style-type: none;
}

/* Pop Up Form to change App name */
#popup {
display: none;
position: fixed;
top: 0;
left: 0;
width: 360px;
height: 500px;
background-color: #313131;
opacity: .95;
overflow: auto;
}
#popup-form {
position: absolute;
left: 20%;
top: 20%;
}
#form {
max-width: 300px;
padding: 25px;
border:2px solid black;
border-radius: 5px;
background-color: #fff;
text-align: center;
}
#form input {
	margin: 10px 0;
}

/*app_detailpage*/
.app-title{
font-size: 1.6em;
}